<div class="container">
	<legend><h2>Premier League Fixtures</h2></legend>
	<div class="table-responsive">
		<table class="table table-condensed">
		  <% @fixtures.each do |a| %>
		  	<% if a.date != "" %>
			  	<thead>
			  		<tr>
			  			<td><b><%= a.date %></b></td>
			  		</tr>
			  	</thead>
			  <% end %>
			  <% if a.time and a.teams != ""%>
			  	<tbody>
					  <tr style="background-color:#CED8F6; color:#0B0B3B;">
					  	<td class="text-center"><em><%= a.time %></em></td>
					  	<td class="text-center"><b><%= a.teams %></b></td>
					  	<td class="text-center"><em><%= a.location %></em></td>
					  </tr>
					</tbody>
				<% end %>
		  <% end %>
		</table>
	</div>
</div>