<div class="container">
<legend></legend>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="arsenal.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="astonvilla.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="cardiff.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="chelsea.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="crystalpalace.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="everton.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="fulham.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="hull.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="liverpool.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="mancity.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="manutd.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="newcastle.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="norwichcity.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="southampton.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="stoke.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="sunderland.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="swansea.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="tottenham.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="westbrom.jpg" alt="...">
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#" class="thumbnail">
	      <img src="westham.jpg" alt="...">
	    </a>
	  </div>
	</div>

</div>
